<html>
    <head>
      {% if title %}
      <title>{{ title }} - Hospital Database</title>
      {% else %}
      <title>Welcome to Hospital Database</title>
      {% endif %}
    </head>
    <body>
        <div>Hospital Database: 
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('doctor') }}">Doctor</a>
          <a href="{{ url_for('admin') }}">Admin</a>
          <a href="{{ url_for('bill') }}">Bill</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>