{% extends "base.html" %}

{% block content %}

	<h1> Welcome doctor </h1>
	<h2> Select the table you want to see </h2>

	<form method="POST" action="">
        <select name = "table_selected"> 
            {% for table in tables %}
	        <option value= "{{table}}">{{ table }}</option>
	    	{% endfor %}
        </select>
    	<button type="submit" name="submit">Submit</button>
    </form> 

    {% if select %}
        <p>{{ message }}</p>
    {% endif %}


    <h2> Add a patient record </h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} 
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <h2>Add a new entry to {{select}} </h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} 
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
        {% for item in header %}
            <li>{{ message }}</li>
        {% endfor %}
    </form>


<!--

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

-->

    {% if data %}
        <table>
            <tr>
                {% for item in header %}
                    <th>{{item}}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for attr in row %}
                    <td>{{attr}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}