{% extends "base.html" %}

{% block content %}

    {% if select %}
        <h2>Add a new entry to {{select}} </h2>
    {% endif %}

    <form action="" method="post" novalidate>
        {% if form %}
            {{ form.hidden_tag() }}
            <table>
                {% for item in columns %}
                    <td>
                        {{ form[item].label }}
                        {{ form[item](size=15) }}
                    </td>
                {% endfor %}
                <td name="action" value="insert">{{ form.submit() }}</td>
            </table>
        {% endif %}
    </form>


   {% if data %}
        <h3> Table {{select}} </h3>
        <table>
            <tr>
                {% for item in header %}
                    <th>{{item}}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% for row in data %}
                <tr>
                        {% for attr in row %}
                            <td>
                                {{row[attr]}}
                            </td>
                        {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <br>

    <form action="" method="post" novalidate>
        {% if form_update %}
            {{ form_update.hidden_tag() }}
            {{ form_update['id'].label }}
            {{ form_update['id'](size=15) }}
          
            <div name="action" value="update">{{ form_update.submit() }}</div>
        {% endif %}
    </form>

    <form action="" method="post" novalidate>
        {% if form_delete %}
            {{ form_delete.hidden_tag() }}
            {{ form_delete['id'].label }}
            {{ form_delete['id'](size=15) }}
                <!-- <div name="action" value="insert">{{ form.submit() }}</div> -->
            <div name="action" value="delete">{{ form_delete.submit() }}</div>
            {{ form_update.submit() }}
        {% endif %}
    </form>

    {% if second_table %}
        <h3>Table {{second_table}} </h3>
        <table>
            <tr>
                {% for item in header_acc %}
                    <th>{{item}}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% for row in data_acc %}
                <tr>
                        {% for attr in row %}
                            <td>
                                {{row[attr]}}
                            </td>
                        {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock %}